*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
   
}

header{ 
  padding: 1%;
  text-align: center;
  font-size: 34px; 
  color: white;
  background-color: #2B3A55;
  height: 100%;
  width: 100%;
  border-bottom: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width : 100%;
  font-size: 20px; 
}

li {
  display: inline-block;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
  line-height: 100%;
  font-size: 22px;
  font-weight: bold;
  transition: padding-left 1s,
  padding-right 1s;
}

li a:hover{
background-color: #111;
padding-left: 19px;
padding-right: 19px;
}

#nav {
  background-color: #4CAF50;
}

#page-container {
  position: relative;
  min-height: 5vh;
}

#content-wrap {
  padding-bottom: 2.5rem;   
}

footer {
  background-color: #8B7E74;
  position: absolute;
  padding: 12px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  bottom: 0;
}



.center form{
  padding: 0 40px 20px;
  box-sizing: border-box;
}



.bg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4 )),url(bg.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; 
    display: center;
}

.log-box{
  position: absolute;
  height: 27%;
  top: 50%;
  left: 37.4%;
  width: 26%;
  background-color: white;
  border-radius: 10px;
}

.log-box h1{
  text-align: center;
  padding: 0px 0px 5px 0;
  border-bottom: 2px solid silver;
}

.log-box p{
  text-align: center;
  padding: 0px 10px 0px 0px;
}

.log-box form{
  padding: 0 50px 14px;
  box-sizing: border-box;
}

form .Email{
  position: relative;
  border-bottom: 2px solid #2691d9;
  margin: 30px 0;
  margin-bottom: 0px;
}

.Email input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none; 
  outline: none;
}

input[type="submit"]{
  margin-top: 15px;
  margin-left: 24%;
  height: 30px;
  width: 50%;
  cursor: pointer;
  outline: none;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color:  #e9f4fb;
  font-weight: bolder;
  padding-top: 3px;
  padding-bottom: 3px;
}